.rounded-lg {
    border-radius: 1rem !important;
  }
  
  .text-small {
    font-size: 0.9rem !important;
  }
  
  .custom-separator {
    width: 5rem;
    height: 6px;
    border-radius: 1rem;
  }
  
  .text-uppercase {
    letter-spacing: 0.2em;
  }
  
  span {
    display: inline-block;
    width: 70px;
    height: 710px;
    margin: -29px;
    background-color: #DCDCDC;
    color: blue;
}

.best{
  font-size: large;
  margin-top: -50px;
  background-color: blue;
  height: 35px;
  font-size: larger;
  color: white;
  background-size:100px;
}

.footer{
  background: white;
  color:black;
  
  .links{
    ul {list-style-type: none;}
    li a{
      color: black;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#4180CB;
        }
    }
  }  
  .about-company{
    i{font-size: 25px;}
    a{
      color:black;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
  } 
  .location{
    i{font-size: 18px;}
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
}
